.loader{
    border: 4px solid var(--yellow-1);
    border-radius: 50%;
    border-top: 4px solid #e7ebf0;
    width: 30px;
    height: 30px;
     animation: spin 2s Linear infinite;
    margin: 10px auto;

 
}
 @keyframes spin {
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
    }
}